{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>welcome {{request.user}}</p><br>
    <a target="_top" href="{% url 'make-tweet' %}">create tweet</a><hr> 
    <a href="{% url 'friends' %}">view friend list</a><br><br>
    <a href="{% url 'logout' %}">logout</a><br><br>
    <a href="{% url 'view_received_request' %}">received_request</a><br><br>
    <a href="{% url 'groups' %}">create group</a><br><br>
    <ul>
    {% for post in posts %}
        <li> {{post}} </li>
    {% endfor %}
    </ul>  

    <form method="GET" action="{% url 'search' %}" class="search-form">
        <input type="text" class="search" name="query" placeholder="search" value="{{request.GET.query}}">
        <button type="submit">search</button>
    </form>
    
</html> 